<div class="landing-section h-100 pt-5">
    <div class="container pt-5">
        <div class="row w-100 pt-5">
            <div class="col-4 offset-4 justify-content-center">
                <p class="main-text">Organize it All with </p>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-4 offset-4 justify-content-center">
                <p class="main-text mb-2"><span class="brand-content">task<span class="text-studio">Studio</span></span></p>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-4 offset-4 d-flex justify-content-center">
                <button class="btn btn-studio" routerLink="/users/signup">Get Started</button>
            </div>
        </div>
    </div>
</div>