<header class="app-header-wrapper">
    <nav class="navbar navbar-expand-lg bg-slate navbar-dark fixed-top shadow-nav">
        <div class="container-fluid">
            <button class="btn pe-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="row w-100">
                <div class="col-4">
                    <button class="btn home-btn pe-3" type="button"><i class="fa fa-home fa-lg"></i></button>
                </div>
                <div class="col-4 offset-4 d-flex justify-content-end">
                    <button class="btn add-task-btn pe-3" type="button"><i class="fa fa-plus fa-lg"></i></button>
                    <button class="btn trend-btn pe-3" type="button"><i class="fa fa-pie-chart fa-lg"></i></button>
                    <div class="dropdown">
                        <button class="btn profile-btn pe-3" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user-circle fa-lg"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end bg-slate" aria-labelledby="profileDropdown">
                            <li class="profile-drop-item"><a class="dropdown-item text-white" (click) = 'initLogout()'>Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

